/* Start Variables */
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #F6f6f6;

}

/* End Variables */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}


.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* Small */
@media(min-width:768px) {
    .container {
        width: 750px;
    }
}

/* Midum */
@media(min-width:992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media(min-width : 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */
/* Start Components */
/* We create special-heading caz we have services and portfoilo and contact have the same color and properties */
.special-heading {
    color: #ebeaed;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}

.special-heading+p {
    text-align: center;
    font-size: 20px;
    margin: -30px 0 0;
}

/*المساحة كبرت بالموبايل ف لنتحكم فيها بنعدل عالشاشات تحت 720*/
@media (max-width: 767px) {
    .special-heading {
        font-size: 60px
    }

    .special-heading+p {
        margin-top: 20px;
    }
}

/* End Components */

/* Start Header */
.header {
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.header .logo {
    width: 60px;
}

.header .links {
    position: relative;
}



.header .links .icons {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icons span {
    background-color: #333;
    margin-bottom: 3px;
    height: 2px;
}

.header .links .icons span:first-child {
    width: 100%;
}

.header .links .icons span:nth-child(2) {
    width: 50%;
    transition: 0.3s;
}

.header .links:hover .icons span:nth-child(2) {
    width: 100%;
}

.header .links .icons span:last-child {

    width: 100%;
}

.header .links ul {
    display: none;
    top: calc(100% + 15px);
    min-width: 200px;
    right: 0;
    position: absolute;
    background-color: var(--section-background);
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 1;
    /* caz its deapire after we add landing so we but z-index */
}

.header .links:hover ul {
    display: block;
}

.header .links ul::before {
    content: "";
    top: -20px;
    right: 5px;
    position: absolute;
    border-color: transparent transparent #f6f6f6 transparent;
    border-style: solid;
    border-width: 10px;
}

.header .links ul li a {
    display: block;
    padding: 15px;
    color: #333;
    text-decoration: none;
    transition: 0.3s;
}

.header .links ul li a:hover {
    padding-left: 25px;
}

.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #DDD;

}

/* End Header */
/* Start Landing Section  */
.landing {
    background-image: url(../images/lake.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    /* Why 64 ? caz the header have 64 height */
    position: relative;
    /*ليتوسط الانترو تيكست بناء على اللاندينك مع على نفسو */
}

.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /*for mobile we add the with and max-width to not stretch the paragraph*/
    width: 320px;
    max-width: 100%;
}

.landing .intro-text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
    /* We have scroll come from h1 */
}

.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
}

/* End Landing Section  */

/* Start Features */
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.features .feat {
    padding: 20px;
    text-align: center;
}

.features .feat i {
    color: var(--main-color);
    font-size: 50px;
}

.features .feat h3 {
    font-weight: 800;
    margin: 30px 0;
}

.features .feat p {
    line-height: 1.6;
    color: #777;
    font-size: 17px;
}

/* End Features */

/* Start Services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;
}

.services .services-content .srv {
    display: flex;
    margin-bottom: 70x;
}

@media (max-width: 767px) {
    .services .services-content .srv {
        flex-direction: column;
        text-align: center;
    }
}

.services .services-content .srv i {
    color: var(--main-color);
    flex-basis: 60px;
    /*ليش استخدمتا منشان لما روح عالموبايل يتعامل معو كطول وعرض*/
}

.services .services-content .srv .text {
    flex: 1;
    /*منشان ياخذ المساحة ويتركلي ال 60 بيكسل تبع الايكون*/
}

.services .services-content .srv h3 {
    margin: 0 0 20px;
    /*منشان يوازي الايكون لانو كان نازل لتحت*/

}

.services .services-content .srv p {
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}

.services .services-content .image {
    text-align: center;
    position: relative;
}

.services .services-content .image::before {
    content: "";
    background-color: var(--secondary-color);
    width: 80px;
    height: calc(100% + 100px);
    top: -50px;
    position: absolute;
    right: 0;
    z-index: -1;
}

.services .services-content .image img {
    width: 260px;
}

@media(max-width:1199px) {
    .image-column {
        display: none;
    }
}

/* End Services */

/* Start Portfolio */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 80px;
}

.portfolio .portfolio-content .card {
    background-color: white;
}

.portfolio .portfolio-content .card img {
    max-width: 100%;
}

.portfolio .portfolio-content .card .info {
    padding: 20px;
}

.portfolio .portfolio-content .card .info h3 {
    margin: 0;
}

.portfolio .portfolio-content .card .info p {
    color: #777;
    line-height: 1.6;
    /* margin-bottom: 0; */
    /*لانو بالاساس عندي ياه من تحت ف رح يصير زيادة*/
}

/* End Portfolio */

/* Start About */
.about {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);
}

.about .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media(max-width: 991px) {
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }
}

.about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
    /*جبت القياسات هي لانو بدي الصورة تكون على قد الديف ف على قياس الصورة*/
    margin-bottom: 30px;
    z-index: 0;
}

@media(max-width: 991px) {
    .about .about-content .image {
        margin: 0 auto 60px;
    }
}

.about .about-content .image::before {
    content: "";
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    position: absolute;
    top: -40px;
    left: -20px;
    z-index: -1;

}

.about .about-content .image::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
    right: -150px;
    top: -40px;
}

@media(max-width: 991px) {

    .about .about-content .image::after,
    .about .about-content .image::before {
        display: none;
    }

}

.about .about-content .image img {
    max-width: 100%;
}

.about .about-content .text {
    flex-basis: calc(100% - 500px);
    /*   OR I can use
     flex = 1;
     padding-left: 200px
    */
}

.about .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}

.about .about-content .text hr {
    width: 50%;
    display: inline-block;
    /* you can't controll with any inline element without inline-block*/
    border-color: var(--main-color);
    /*hr does't have width so you controll the border*/
}

.about .about-content .text p:last-of-type {
    line-height: 2;
    color: #777;
}

/* End About */

/* Start Contact */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.contact .info {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}

.contact .info .label {
    font-size: 30px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}

.contact .info .link {
    display: block;
    /* to respect padding margin width height as we learn in CSS*/
    font-size: 30px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
}

.contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 18px;
}

.contact .info .social i {
    margin-left: 5px;
}

@media(max-width: 767px) {

    .contact .info .label,
    .contact .info .link {
        font-size: 20px;
    }
}

/* End Contact */
/* Start footer */
.footer {
    background-color: var(--secondary-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 17px;
}

.footer span {
    font-weight: bold;
    color: var(--main-color);
}

/* End footer  */